---
layout: workshop
type: workshop
title: Workshop
collection-limit: 4
reskin-limit: 20
level-limit: 8
levelId: 0
---

<!-- Swiper JS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="../tinglejs/tingle.css">
<script src="../tinglejs/tingle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

{% include_relative workshop/reskins.html %}
{% include_relative workshop/skincollections.html %}
{% include_relative workshop/betatesting.html %}
{% include_relative workshop/levels.html %}
