<div class="category testing featured">
    <h2>
        Open for testing&nbsp;
        <span class="rounded-full level-tag" style="display: inline;font-size: smaller;">BETA</span>
    </h2>

    <div class="feature">

        <p>The following custom levels are work in progress, meaning the result is <strong>not</strong> final. These are
            available to everyone to playtest.<br>Feedback is not mandatory but it's highly appriciated for the level
            creator(s). Enjoy!</p>

        <div class="swiper-button-prev">
            <div class="gradient-prev"></div>
        </div>

        <div class="swiper-container swiper-testing">
            <div class="swiper-wrapper">
                {% for level in site.workshop reversed %}
                    {% if level.testing == true %}
                    <div class="swiper-slide">
                        <div class="card detail-card">
                            <img src="{{ level.images[0] }}" style="border-radius: 0; margin: 0; object-fit: cover;"
                                alt="{{ level.title }} by {{ level.Author }}">
                            <div class="details">
                                <div class="title-level">
                                    <span>{{ level.title }}</span>
                                    {% if level.bitly %}
                                    <a class="dl-button" title="Download">
                                        <ion-icon name="download"></ion-icon>
                                    </a>
                                    {% endif %}
                                </div>
                                <span class="author-level">
                                    <ion-icon name="person"></ion-icon> {{ level.Author }}{{ scores[0] }}
                                </span>
                                <span class="author-level">
                                    <ion-icon name="golf"></ion-icon> Status: <strong>{{ level.status }}</strong>
                                </span>
                                <span class="author-level">
                                    <ion-icon name="calendar-clear"></ion-icon> Last updated: <strong>{{ level.date | date:
                                        "%B %d, %Y @ %R" }}</strong> UTC+1
                                </span>
                                <p>
                                    {{ level.update }}
                                </p>
                                <a href="javascript:void(0);" class="button"
                                    onclick='contactClick("{{level.Author}}", {{level.contacts | jsonify }})'>
                                    Contact {{ level.Author }}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="swiper-button-next">
            <div class="gradient-next"></div>
        </div>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".swiper-testing", {
              slidesPerView: "auto",
              spaceBetween: 20,
              navigation: {
                nextEl: ".testing .swiper-button-next",
                prevEl: ".testing .swiper-button-prev",
              },
              pagination: {
                el: ".testing .swiper-pagination",
                clickable: true,
              }
            });

            function contactClick(name, array) {
                let stringa = `Contact ${name} for feedback on:\n\n`;
                array.forEach(object => {
                    stringa += `${object.name}: ${object.link}\n`;
                });
                alert(stringa);
            }
        </script>
    </div>
</div>