---
layout: default
---

<style>
  .container {
      max-width: 850px;
      padding-top: 75px;
  }
</style>

    {% capture time_words %} 
  	  {{page.content | number_of_words | divided_by: 5}} 
    {% endcapture %}

<article class="blog">
  {% if page.toc == false %}
    <a href="{{ site.baseurl }}/tags/?tag=blog" class="button outline"><ion-icon name="arrow-back"></ion-icon>Back to the blog</a>
  {% endif %}
  {% if prev_post != null %}
                <a class="button outline" href="{{ site.url }}{{ site.baseurl }}{{ prev_post.url }}">
                  <ion-icon name="arrow-back"></ion-icon> Previous post
                </a>
              {% endif %}
              {% if next_post != null %}
                <a class="button outline" href="{{ site.url }}{{ site.baseurl }}{{ next_post.url }}">
                  <ion-icon name="arrow-forward"></ion-icon> Next post
                </a>
              {% endif %}
  <div class="meta">
    <h1 class="no_toc">{{ page.title }}</h1>
    <h2 class="no_toc">{{ page.subtitle }}</h2>
    <span class="date">
      <span>{{ page.date | date_to_long_string: "ordinal" }} • {{time_words | divided_by: 60}} minutes read</span>
      <span style="float: right;">written by <strong>{{ page.Author }}</strong></span>
    </span>
  </div>

  <div class="entry">
    {{ content }}
  </div>
</article>

<img src="https://raw.githubusercontent.com/JumpKingPlus/JumpKingPlus.github.io/www/images/splat.png" alt="splat" style="margin: 4em auto -2em auto;">